body {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(-45deg, #1e3a5f, #ffffff);
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
  height: 100vh;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

button {
  font-family: "Inter", sans-serif;
}

span {
  font-family: "Inter", sans-serif;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
.swiper-pagination-bullet-active {
  background: #4f46e5 !important;
}
